* {
    background-color: #171717;
    color: white;
}

.app {
    text-align: center;
    margin-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    padding: 10px;
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
}

#commandInput {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 92%;
}

#answer {
    margin-top: 2%;
    font-size: xx-large;
    font-weight: bolder;
}
