* {
    background-color: #171717;
    color: white;
}

.app {
    text-align: center;
    margin-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    padding: 10px;
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
}

#commandInput {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 92%;
}

#answer {
    margin-top: 2%;
    font-size: 16px;
    overflow: hidden;
}

/* #displayedEmoji {
    display: inline;
}

#displayedEmojiName {
    font-size: 15px;
    display: inline;
} */

#emojiButton {
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
    border-radius: 4px;
    padding: 3px;
    margin: 2px;
}