* {
    background-color: #171717;
    color: white;
}

.app {
    text-align: center;
    margin-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    padding: 10px;
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
}

#commandInput {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 92%;
    border-radius: 15px;
}

#answer {
    margin-top: 2%;
    font-size: 16px;
    overflow: hidden;
}

#emojiButton {
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
    border-radius: 4px;
    padding: 3px;
    margin: 2px;
}

/* This is for the highlighted color when the input field is in focus */
input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgb(0, 119, 255);
}

/* This is for the highlighted color when the emoji buttons are in focus */
button[type=button]:focus {
    outline: none;
    background-color: #656565;
}